.search-page {
	width: 100%;
	margin-bottom: 1rem;
}

.search-page__results {
	margin-inline: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

.filter-wrapper {
	text-align: left;
	margin-inline: 1rem;
	margin-block: 1rem;

	.filter-toggle {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		background-color: #626262;

		svg {
			font-size: 0.9rem;
		}
	}

	.filter-dropdown {
		.dog-search-filter {
			margin-top: 1rem;
		}
	}
}

@media screen and (min-width: 768px) {
	.search-page__results {
		margin-inline: 2em;
	}

	.filter-wrapper {
		margin-inline: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	.search-page__results {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1920px) {
	.search-page__results {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 2560px) {
	.search-page__results {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
