* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	text-align: center;
	background-color: #fcfcfc;
	width: 100%;
	margin-bottom: auto;
}

.logo {
	height: 6em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.error {
	color: #e53935;
}

.success {
	color: #43a047;
}

.primary {
	color: #ff8c42;
}

.secondary {
	color: #6a1b9a;
}

.text-dark {
	color: #212121;
}

.text-light {
	color: #757575;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
